.friends {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 39px;
  }
}
.friend-name {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 14.011px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.friend-p {
  color: #666;
  text-align: center;
  font-family: Roboto;
  font-size: 14.011px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.friend-item {
  text-align: center;
}
.friend-h1 {
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 22.004px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.friends-btn {
  width: 280px;
  height: 40px;
  flex-shrink: 0;
  border: 2px solid #ff4e50;
  border-radius: 30px;
  background-color: transparent;
  color: #ff4e50;
}
.friend-list {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 53px;
    grid-row-gap: 57px;
  }
}
